<div class="cover-page-backdrop">
  <div class="jumbotron about-jumbo">
    <h1>Welcome to Flux Capacitr!</h1>
    <p>
      Flux Capacitr is a blogging platform for the discerning time-traveler.
      Our servers are synchronized across all timelines, so you can stay in
      touch with your friends and companions no matter when they are. We hope
      you enjoy the site and that you'll share many past and future adventures
      with us!
    </p>
    <p>
      <%= button_to 'Allons-y!',
                    root_url,
                    method: :get,
                    class: 'btn btn-primary btn-lg pull-right' %>
    </p>
  </div>
</div>