<%= render "partials/top_nav" %>
<%= render "partials/errors" %>

<div class="backdrop container-fluid">
  <div class="center-wrapper clearfix">
    <div id="content-panel"></div>    
    <% if logged_in? %>
      <div id="dash-panel">
        <%= render 'partials/dash_panel' %>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(function () {
    var router = new Allonsy.DashRouter({ $rootEl: $('#content-panel') });
    router.feedShow();
  });
</script>