<div>
  <%= form_for @user do |f| %>
    <%= f.label :avatar_url, "Upload your avatar:" %>
    <%= f.filepicker_field :avatar_url,
                           dragdrop: true,
                           button_text: 'Upload avatar',
                           button_class: 'btn btn-primary',
                           container: 'modal',
                           store_access: :public,
                           max_size: 10**6 %>
    <%= f.submit %>
  <% end %>
</div>