<div class="backdrop container-fluid">
  <div class="center-wrapper clearfix">
    <div id="content-panel"></div>    
    <div id="dash-panel">
      <%= render 'partials/dash_panel' %>
    </div>
  </div>
</div>
<script>$(Allonsy.initialize);</script>