<%= render "partials/top_nav" %>
<%= render "partials/errors" %>

<div class="backdrop container-fluid">
  <div class="center-wrapper clearfix">
    <div id="content-panel" style="width: 100%">
      <h1><%= @blog.title %></h1>
      
      <hr style="margin-top: 10px">
      
      <div class="posts"></div>
    </div>
  </div>
</div>

<script>
  $(function () {
    var router = new Allonsy.BlogRouter({ $rootEl: $('#content-panel') });
    router.blogShow(<%= @blog.id %>);
  });
</script>