<h1><%= @blog.title %></h1>
<hr>

<ul>
  <% @blog.posts.each do |post| %>
    <li><%= link_to post.title, post_url(post) %></li>
  <% end %>
</ul>

<% if current_user == @blog.owner %>
  <hr>
  <%= button_to "Post to #{@blog.title}", new_blog_post_url(@blog), method: :get, class: 'btn btn-primary' %>
  <%= button_to "Edit #{@blog.title}", edit_blog_url(@blog), method: :get, class: 'btn btn-success'%>
<% end %>

