<div class="results-pane blogs-pane pull-left">
  <h3>Blogs</h3>
  <div id="blogs"></div>
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div class="results-pane posts-pane pull-right">
  <h3>Posts</h3>
  <div id="posts"></div>
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>