<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#">Allons-y!</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li>
          <%= button_to 'Sign Out', session_url, method: :delete, class: 'btn btn-danger' %>
        </li>
      <% else %>
        <li>
          <%= button_to 'Sign In',
                        new_session_url,
                        class: 'btn btn-success',
                        method: :get %>
        </li>
        <li>
          <%= button_to 'Register',
                        new_user_url,
                        class: 'btn btn-info',
                        method: :get %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>