<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>
    <form action="<%= users_url %>" method="POST" role="form">
      <%= csrf_token %>
      <div class="form-group">
        <label for="user-email">Email</label>
        <input type="email"
               class="form-control"
               id="user-email"
               name="user[email]"
               value="<%= @user.email %>">
      </div>
  
      <div class="form-group">
        <label for="user-password">Password</label>
        <input type="password"
               class="form-control"
               id="user-password"
               name="user[password]">
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    <%= render 'partials/guest_login' %>
    </form>
  </div>
</div>