<% var blog = {id: 1, is_owner: true} %>

<% var edit_url = '/blogs/' + blog.get('id') + '/edit' %>
<% var post_url = '/blogs/' + blog.get('id') + '/new' %>

<div class="blog-controls btn-group">
  <% if (blog.get('is_owner')) { %>
    <a href="<%= edit_url %>" class="btn btn-default">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
    <a href="<%= post_url %>" class="btn btn-default">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  <% } %>
</div>