<% if (blog.get('show_controls')) { %>
  <div class="blog-controls clearfix">
    <div class="btn-group pull-right">
      <% if (blog.get('is_owner')) { %>
        <a href="/blogs/<%= blog.id %>/edit"
          class="btn btn-primary btn-xs"
          id="edit-blog">
          <span class="glyphicon glyphicon-cog"></span> Edit Blog
        </a>
      <% } %>

      <% if (blog.get('is_member')) { %>
        <a href="javascript:void(0)" class="btn btn-primary btn-xs" id="post-to-blog">
          <span class="glyphicon glyphicon-pencil"></span> New Post
        </a>
      <% } %>

      <% if (!blog.get('is_owner')) { %>
        <a href="javascript:void(0)" class="btn btn-primary btn-xs" id="follow-toggle">
          <% if (blog.following().isNew()) { %>
            <span class="glyphicon glyphicon-plus"></span> Follow
          <% } else { %>
            <span class="glyphicon glyphicon-minus"></span> Unfollow
          <% } %>
        </a>
      <% } %>
    </div>
  </div>
<% } %>

<h1><%= blog.escape('title') %></h1>
