<div class="panel panel-default">
    <div class="panel-body">
        <a href="/blogs/<%= blog.escape('url') %>">
          <strong><%= blog.escape('url') %></strong>
        </a>
      <p><%= blog.escape('title') %></p>
    </div>
</div>
