<div class="panel panel-default">
    <div class="panel-body">
        <a href="/blogs/<%= blog.get('url') %>">
          <strong><%= blog.get('url') %></strong>
        </a>
      <p><%= blog.get('title') %></p>
    </div>
</div>