<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="blog-header clearfix">
      <h1><%= blog.get('title') %></h1>
      <h5>(<%= blog.get('full_url') %>)</h5>
      <%= JST['_blog_controls'] %>
    </div>
    <hr style="margin-top: 10px">

    <div class="blog-posts">
      <h4>There don't seem to be any posts here yet!</h4>
    </div>
  </div>
</div>