<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="blog-header clearfix"></div>
    
    <hr style="margin-top: 10px">
    
    <div class="new-post"></div>
    <div class="posts"></div>
  </div>
</div>