<%= render "partials/top_nav" %>
<%= render "partials/errors" %>

<div class="results-container clearfix">
</div>

<script>
  $(function () {
    var router = new Allonsy.SearchRouter({ $rootEl: '.results-container' });
    router.searchShow('<%= @query %>');
  });
</script>