/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

* {
  box-sizing: border-box;
}

a {
  color: #9BC2E3
}

body {
//  background-color: rgb(0, 68, 115);
  background: linear-gradient(to bottom,
                            rgba(0, 72, 122, 1) 250px,
                            rgba(0, 68, 115, 1) 500px);
}

.blog-header {
  position: relative;
  text-align: center;
}

.center-wrapper {
  background: linear-gradient(to bottom,
                              rgba(0, 61, 103, 1) 250px,
                              rgba(0, 0, 0, 0) 500px);
//  background-color: rgb(0, 61, 103);
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
  width: 815px;
}

#content-panel {
  float: left;
  width: 540px;
}

.custom-nav {
  margin: 0 auto;
  height: 70px;
  width: 815px;
}

#dash-panel {
  float: right;
  width: 215px;
}

#dash-panel .dropdown-menu {
  width: 100%;
}

.input-group-addon.glyphicon {
  top: 0;
}

h1 {
  color: #FFF;
}

.navbar-header {
  padding-top: 10px;
}

.navbar-right {
  bottom: 0;
  position: absolute;
  right: 8px;
}

.navbar-right > li {
  bottom: 0;
  font-size: 26px;
}

.navbar-right li a:hover {
  background: none;
  color: #FFFFFF;
}

.nav-pills li a {
  border-radius: 0;
}

.nav-pills li a:hover {
  background-color: #004A7E;
  color: #9BC2E3;
}

.post-container {
  border-radius: 6px;
  position: relative;
}

.post-footer .btn {
  background-color: transparent;
  border: none;
  font-size: 12px;
  padding: 0 5px;
  opacity: 0.5;
}

.post-footer .btn:hover {
  background-color: transparent;
  opacity: 0.8;
}

.post-controls {
  position: absolute;
  bottom: 0;
  padding: 5px;
  right: 0;
}

.post-tags ul {
  display: inline;
  list-style: none;
  padding: 0;
}

.post-tags ul li {
  display: inline;
}

textarea.form-control {
  resize: vertical;
}