/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

a {
  color: #9BC2E3
}

.about-jumbo {
  background-color: rgba(.2, .2, .2, .7);
  border-radius: 20px;
  color: #FFF;
  height: 400px;
  left: 50%;
  margin-left: -450px;
  margin-top: -200px;
  position: absolute;
  top: 50%;
  width: 900px;
}

.centered-content {
  margin: 0 auto;
  width: 900px;
}

.custom-nav {
  margin: 0;
  height: 70px;
}

html {
  height: 100%;
}

h1, h3 {
  color: #FFF;
}

.navbar-header {
  padding-top: 15px;
}

.tab-bar {
  bottom: 0;
  display: block;
  float: right;
  padding-top: 17px;
}

.tab {
  display: inline-block;
}

.tab.iconic {
  font-size: 22px;
  padding: 5px 9px 0 9px;
}

.tab.iconic a:hover {
  background: none;
  color: #FFFFFF;
}

.tab.iconic.ui-search {
  padding: 0 0 0 9px;
}

.search-row {
  background-color: rgba(0, 61, 103, 1);
  border-radius: 28px;
  height: 32px;
  position: relative;
  top: -5px;
  width: 215px;
}

.search-row input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #FFF;
  display: block;
  font-size: 13px;
  height: 100%;
  padding-left: 16px;
  width: 100%;
}

.search-row input:focus{
  outline: none;
}