.blog-controls {
  display: block;
}

.blog-header {
  display: block;
  position: relative;
}

.blog-header h1 {
  margin-top: 5px;
}

.blog-nameplate {
  display: inline-block;
  height: 80px;
  width: 250px;
}

.blog-show .posts {
  float: right;
  width: 785px;
}
