.cover-page-backdrop {
  background-color: rgb(0, 68, 115);
  background-image: url(../images/cover2.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
}

.cover-search-container {
  top: 0px;
  right: 0px;
  margin: 15px;
  position: absolute;
}

.signup-form-container {
  height: 309px;
  left: 50%;
  margin-left: -177px;
  margin-top: -155px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 355px;
}

.signup-form-container input {
  font-size: 16px;
  height: 44px;
}

.signup-form-container .btn {
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  height: 44px;
  margin-top: 10px;
}

.signup-button-container {
  bottom: 0px;
  left: 0px;
  margin: 15px;
  position: absolute;
}

.signup-button-container .btn {
  background-color: rgba(255, 255, 255, 0.278431);
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  padding-top: 12px;
  width: 101px;
  vertical-align: baseline;
}

.signup-form-container img {
  margin: 10px auto;
  text-align: center;
}

.unpadded-input-group {
  background-color: #fff;
  border-radius: 2px;
}

.unpadded-input-group .form-group {
  margin-bottom: 0px;
}

.unpadded-input-group input {
  background-color: transparent;
  border: none;
}

.unpadded-input-group input:not(:last-child) {
  border-bottom: 1px #ddd solid;
}

.unpadded-input-group .form-control {
  border-radius: 0;
}