.blogs-pane {
  float: left;
}

.posts-pane {
  float: right;
}

.results-container {
  margin: 0 auto;
  width: 1200px;
}

.results-container h3 {
  color: #FFF;
}

.results-pane {
  display: inline-block;
  margin: 0 auto;
  width: 540px;
}