.blogs-pane {
  width: 250px;
}

.posts-pane {
  width: 500px;
}

.results-container {
  margin: 0 auto;
  width: 815px;
}

.results-pane > h3 {
  color: #FFF;
}

.results-pane {
  display: inline-block;
  margin: 0 auto;
}

#search-query {
  &::-webkit-input-placeholder {
     color: white;
  }

  &:-moz-placeholder { /* Firefox 18- */
     color: white;  
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: white;  
  }

  &:-ms-input-placeholder {  
     color: white;  
  }
}