body {
//  background: linear-gradient(to bottom,
//                            rgba(0, 72, 122, 1) 250px,
//                            rgba(0, 68, 115, 1) 500px);
  background-color: rgba(0, 68, 115, 1) !important;
}

.blog-header {
  position: relative;
  text-align: center;
}

.center-wrapper {
  background: linear-gradient(to bottom,
                              rgba(0, 61, 103, 1) 250px,
                              rgba(0, 0, 0, 0) 500px);
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
  width: 900px;
}

#content-panel {
  float: left;
  width: 625px;
}

.feed-show {
  float: right;
  width: 550px;
}

.dash-nav {
  h3 {
    color: #fff;
    margin-bottom: 9px;
    margin-top: 8px;
  }
  
  hr {
    margin-top: 0;
  }
  
  > li {
    font-size: 14px;
    font-weight: bold;
  }
  
  > li.active > a {
    background-color: #00487a
  }
  
  > li > a:hover, > li > a:focus {
    background-color: rgba(0, 72, 122, 1) !important;
    color: #fff;
  }
}

.side-panel {
  float: right;
  width: 215px;
}

.dropdown-menu {
  width: 100%;
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.dropdown.open > a {
  background-color: rgba(0, 72, 122, 1) !important;
  color: #fff;
}

.input-group-addon.glyphicon {
  top: 0;
}

.nav-pills li a:hover {
  background-color: #004A7E;
  color: #9BC2E3;
}

.outgoing-post {
  max-height: 400px;
  opacity: 1;
  animation: shrinkHeight 0.5s ease forwards;
}

textarea.form-control {
  resize: vertical;
}