.avatar-128 {
  border-radius: 3px;
  height: 128px;
  position: relative;
  width: 128px;
  .avatar-link {
    background-size: cover;
    border-radius: 3px;
    display: block;
    height: 100%;
    overflow: visible;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.signup-form-container .avatar {
  left: -138px;
  position: absolute;
  top: 69px;
}

.user-tile {
  background-color: #fff;
  border-radius: 3px;
  display: inline-block;
  height: 160px;
  margin: 4px;
  padding: 8px;
  text-align: center;
  width: 144px;
  
  a, a:hover, a:focus {
    color: rgb(51, 51, 51);
    text-decoration: none;
  }
}