.profile-avatar {
  border-radius: 3px;
  height: 128px;
  left: -138px;
  position: absolute;
  top: 69px;
  width: 128px;
  .profile-avatar-link {
    background-size: cover;
    border-radius: 3px;
    display: block;
    height: 100%;
    overflow: visible;
    position: absolute;
    top: 0;
    width: 100%;
  }
}